* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    background-color: #e5e5fd;
    border: 15px solid #1d1e4c;
    min-height: 100vh;
}
.content {
    width: 75%;
    margin: auto;
}
.img_container,img {
    width: 300px;
    height: 320px;
}
.img_container {
    border-radius: 50%;
    overflow: hidden;
}
.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1 {
    font-size: 35px;
    font-weight: bold;
    color: #1d1e4c;
    margin-bottom: 5px;
}
.top_section h4 {
    text-align: end;
    font-size: 20px;
}
.about_section {
    margin-top: 70px;
}
.about_section h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    margin-bottom: 15px;
}
.biography_section {
    margin-top: 50px;
}
.biography_section h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.biography_section ul {
    margin-left: 50px;
}
.biography_section li {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: justify;
}
footer {
    margin-top: 50px;
    text-align: end;
    margin-bottom: 30px;
}